### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Docs ###
docs/java/

### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Others ###
.env
account.key
fullchain.pem
privkey.pem